@import url("https://fonts.googleapis.com/css?family=Arvo:700|Open+Sans");
html {
  overflow-x: hidden;
}
body {
  background: #1b191f;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #c6c9cf;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}
h1, h2, h3, h4 {
  font-size: 38px;
  color: #949699;
  font-weight: 700;
  font-family: 'Arvo', serif;
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  text-decoration: none;
}
a a:focus {
  outline: none;
}
p {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-size: 14px;
}
ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
ul li, ol li {
  list-style: none;
}
a:not([href]):not([tabindex]) {
  color: #fff;
}
.section-header {
  margin-bottom: 30px;
}
.section-header p {
  text: center;
  font-weight: 400;
  line-height: 26px;
}
.section-title {
  font-size: 30px;
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  position: relative;
}
.section-title-dark {
  font-size: 30px;
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  position: relative;
}
.section-title2 {
  font-size: 30px;
  color: #E5E5E5;
  display: inline-block;
  font-weight: 700;
  position: relative;
}
.shape {
  height: 1px;
  margin: 0 auto 30px;
  position: relative;
  width: 60px;
  background-color: #505050;
}
.shape2 {
  height: 1px;
  margin: 0 auto 30px;
  position: relative;
  width: 60px;
  background-color: #E5E5E5;
}
.padding-none {
  padding: 0px;
}
.bg-gray {
  background: #2e2e2e;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(61, 96, 244, 0.3);
}
.btn {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}
.btn:focus, .btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}
.btn-common {
  background-color: #505050;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}
.btn-common:hover {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #000000;
  background: #e4e4e4;
  border: 1px dotted #e4e4e4;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
.btn-border {
  color: #1c1c1c;
  background-color: transparent;
  border: 1px solid #1c1c1c;
  border-radius: 30px;
  text-transform: uppercase;
}
.btn-border:hover {
  color: #FFFFFF;
  border-color: #505050;
  background-color: #505050;
}
.btn-border:focus {
  color: #fff;
  border-color: #505050;
  background-color: #505050;
}
.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}
.btn-rm {
  padding: 7px 0px;
  color: #505050;
  text-transform: capitalize;
}
.btn-rm:hover {
  color: #505050;
}
button:focus {
  outline: none !important;
}
.icon-close, .icon-check {
  color: #505050;
}
.social-icon a {
  color: #666;
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.social-icon a:hover {
  color: #fff !important;
}
.social-icon .facebook:hover {
  background: #3b5999;
}
.social-icon .twitter:hover {
  background: #4A9CEC;
}
.social-icon .instagram:hover {
  background: #D6274D;
}
.social-icon .linkedin:hover {
  background: #1260A2;
}
.social-icon .google:hover {
  background: #CE332A;
}
/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}
a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #505050;
  border-radius: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}
/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1b191f;
  z-index: 9999999;
}
.loader {
  top: 30%;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}
#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #1b191f;
  border-bottom-color: #1b191f;
}
#loader-1:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 23.0.5, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Logo' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 720 720' style='enable-background:new 0 0 720 720;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{display:none;} .st1{display:inline;} .st2{fill:%23FFFFFF;} %3C/style%3E%3Cg id='Reboot'%3E%3Cg id='Letters' class='st0'%3E%3Cpath class='st1' d='M133.39,616.19h-6.52v19.75h-13.74v-60.1h24.04c11.42,0,20.6,9.19,20.6,20.6c0,7.38-4.46,14.08-11.07,17.43 l12.79,22.06h-14.77L133.39,616.19z M126.87,604.17h10.3c3.78,0,6.87-3.35,6.87-7.73s-3.09-7.73-6.87-7.73h-10.3V604.17z'/%3E%3Cpath class='st1' d='M238.04,622.72v13.22h-37.77v-60.1h37.34v13.22h-23.61v9.96h21.46v13.05h-21.46v10.65H238.04z'/%3E%3Cpath class='st1' d='M324.76,618.34c0,10.65-8.67,17.6-19.4,17.6h-25.24v-60.1h23.52c10.47,0,18.97,6.78,18.97,17.17 c0,4.98-1.97,8.93-5.24,11.76C321.84,607.61,324.76,612.24,324.76,618.34z M293.85,588.72v10.65h9.79c3.09,0,5.24-2.23,5.24-5.32 c0-3.09-2.06-5.32-5.24-5.32H293.85z M311.02,617.31c0-3.35-2.23-5.75-5.67-5.75h-11.5v11.5h11.5 C308.79,623.06,311.02,620.66,311.02,617.31z'/%3E%3Cpath class='st1' d='M394.64,588.03c9.79,0,17.51,7.13,17.51,17.86c0,2.89-0.57,5.52-1.58,7.82c-0.22,0.5-0.35,1.04-0.35,1.59 v4.03c0,2.11,1.71,3.82,3.82,3.82h4.6c1.37,0,2.65-0.72,3.32-1.92c2.5-4.49,3.93-9.7,3.93-15.34c0-17.69-13.99-31.25-31.25-31.25 c-17.26,0-31.25,13.56-31.25,31.25c0,15.71,11.04,28.16,25.61,30.75c2.33,0.41,4.47-1.4,4.47-3.77v-5.85 c0-1.76-1.19-3.34-2.92-3.71c-7.77-1.7-13.43-8.23-13.43-17.42C377.13,595.16,384.85,588.03,394.64,588.03z'/%3E%3Cpath class='st1' d='M606.87,589.06h-15.45v46.87h-13.74v-46.87h-15.45v-13.22h44.64V589.06z'/%3E%3Cpath class='st1' d='M420.54,626.28l-10.76,1.18c-1.02,0.11-1.95-0.63-2.06-1.65l-1.17-10.65c-0.17-1.57,1.63-2.57,2.88-1.59 l12.03,9.5C422.72,624.08,422.14,626.11,420.54,626.28z'/%3E%3Cpath class='st1' d='M498.83,622.34c-9.25,3.19-18.88-1.03-22.37-11.18c-0.94-2.74-1.26-5.41-1.05-7.91c0.05-0.55,0-1.1-0.18-1.62 l-1.31-3.81c-0.69-2-2.86-3.06-4.86-2.37l-4.35,1.5c-1.3,0.45-2.27,1.55-2.51,2.9c-0.9,5.06-0.56,10.45,1.28,15.78 c5.76,16.72,23.41,24.99,39.72,19.37c16.32-5.62,25.13-23,19.37-39.72c-5.12-14.85-19.61-23.03-34.22-20.73 c-2.34,0.37-3.77,2.78-3,5.02l1.9,5.53c0.57,1.67,2.22,2.77,3.97,2.56c7.9-0.93,15.38,3.41,18.37,12.1 C513.07,609.9,508.09,619.16,498.83,622.34z'/%3E%3Cpath class='st1' d='M461.89,594.61l9.79-4.62c0.93-0.44,2.04-0.04,2.48,0.89l4.57,9.69c0.67,1.43-0.71,2.96-2.2,2.44l-14.47-5.07 C460.55,597.41,460.44,595.3,461.89,594.61z'/%3E%3C/g%3E%3Cg id='Panda'%3E%3Cg%3E%3Cpath class='st2' d='M221.68,515.95c9.91-4.31,12.13-12.75,14.49-21.68c5.36-20.27,10.02-40.92,17.66-60.36 c16.54-42.08,49.18-63.13,93.8-64.95c14.83-0.61,30.09,0.56,44.62,3.51c29.93,6.07,51.25,24.31,65.27,51.28 c11.91,22.89,17.56,47.74,22.76,72.7c1.76,8.45,4.88,15.55,13.42,19.13C427.77,581.74,306.56,594.91,221.68,515.95z M373.42,466.25c14.43-4.84,23.41-14.56,26.18-29.68c3.48-19.03-8.24-30.64-26.29-24.31c-12.04,4.23-22.53,3.5-34.33-0.11 c-19.96-6.09-34.22,8.89-29.02,29.28c2.67,10.47,9.3,17.56,18.93,21.78C334.1,465.52,370.47,467.24,373.42,466.25z'/%3E%3Cpath class='st2' d='M157.03,312.17c18.84-88.03,103.75-161.99,208.14-158.84c99.95,3.01,180.07,77.3,197.8,164.12 c-3.86-4.99-7.01-8.43-9.44-12.33c-9.46-15.15-19.15-30.18-27.91-45.74c-13.16-23.38-35.97-30.74-59.51-17.97 c-22.7,12.32-45.44,24.33-71.42,28.31c-44.59,6.82-87.56,2.97-127.81-19.18c-6.22-3.42-12.49-6.73-18.79-10 c-21.7-11.25-44.57-4.25-56.83,17.02c-8.39,14.57-17.12,28.94-25.89,43.29C162.93,304.84,159.83,308.41,157.03,312.17z M477.4,214.16c0.12-0.85,0.23-1.69,0.35-2.54c-8.49,0-17.14-1.02-25.45,0.22c-16.6,2.47-28.92,12.9-40.34,24.39 c-11.04,11.12-21.75,22.68-37.57,27.85c2.94,0.81,5.7,1.03,8.41,0.77c14.11-1.34,24.93-9.21,34.81-18.41 C434.73,230.49,452.57,216.06,477.4,214.16z M236.65,212.93c32.77,8.64,34.74,10.03,59.57,31.58c7.65,6.64,16.2,12.59,25.2,17.18 c5.82,2.97,13.2,2.88,19.87,4.16c0.21-0.82,0.43-1.64,0.64-2.46c-14.07-3.78-24.04-13.37-34.09-23.01 c-7.18-6.89-14.44-13.9-22.56-19.57C271.04,210.85,255.08,208.14,236.65,212.93z'/%3E%3Cpath class='st2' d='M538.54,226.21c14.03-6.7,20.39-16.04,19.17-27.49c-1.14-10.66-8.58-19.73-18.37-22.38 c-12.34-3.35-21.57,1-31.53,14.85c-10.53-6.44-10.57-6.56-6.74-17.68c9.63-27.93,36.55-36.57,60.33-19.01 c14.17,10.46,23,24.46,23.97,42.43c0.79,14.71-5.85,25.28-19.44,31.1c-5.25,2.25-11,3.34-16.56,4.81 C543.84,234.31,540.38,232.03,538.54,226.21z'/%3E%3Cpath class='st2' d='M175.98,225.65c-2.19,7.2-6.66,8.53-12.51,6.75c-5.01-1.53-10.21-2.71-14.89-4.97 c-12.58-6.08-18.74-16.27-18.3-30.41c0.85-27.46,26.73-52.54,52.9-51.13c16.68,0.9,34.2,18.67,33.48,35.15 c-0.15,3.41-4.93,6.61-8.3,10.81c-8.37-13.76-19.22-19.68-33.79-14.65c-9.8,3.38-15.35,10.93-16.2,21.31 C157.28,211.77,164.11,220.33,175.98,225.65z'/%3E%3Cpath class='st2' d='M197.48,458.38c-9.46-16.97-18.7-34.08-28.48-50.86c-4.35-7.47-9.57-14.48-14.79-21.39 c-9.52-12.59-12.31-30.34,2.45-44.62c18.25-17.65,31.68-39.2,42.79-62.08c10.86-22.37,21.41-26.85,45.14-18.67 c21.35,7.36,42.15,16.64,63.91,22.41c48.39,12.82,95.87,8.19,141.94-11.48c11.02-4.71,22.36-8.67,33.55-12.98 c0.35,0.94,0.7,1.88,1.05,2.82c-26.76,9.83-52.95,21.85-80.41,29c-45.39,11.83-90.24,5.84-133.66-11.59 c-12.17-4.89-24.5-9.55-37.06-13.28c-11.89-3.53-19.3-0.3-24.73,10.88c-13.58,27.96-31.16,52.88-52.81,75.21 c-3.53,3.64-5.07,11.27-4.23,16.53c1.01,6.39,4.81,12.72,8.63,18.22C176.26,408.84,187.56,433.28,197.48,458.38z'/%3E%3Cpath class='st2' d='M336.19,355.34c-51.14,6.25-79.38,38.93-97.29,85C242.69,393.02,291.34,350.89,336.19,355.34z'/%3E%3Cpath d='M558.01,134.95c-29.48-12.42-58.67-0.03-70.19,29.8c-1.07,2.78-2.08,5.59-3.06,8.24 c-85.14-52.05-169.42-52.13-253.95-0.82c-1.54-3.95-2.83-7.66-4.42-11.24c-10.24-22.98-31.93-34.23-56.7-29.48 c-25.29,4.85-47.59,27.59-53.32,54.39c-6.01,28.08,7.42,50.92,34.89,59.28c3.25,0.99,6.59,1.72,8.63,2.24 c-7.07,21.69-14.39,42.67-20.64,63.96c-2.93,9.99-2.31,21.14-5.94,30.78c-6.46,17.16-5.53,32.69,4.12,48.17 c2.84,4.56,4.99,9.85,6.19,15.09c8.07,35.05,22.16,67.29,43.78,96.14c57.03,76.12,151.72,107.55,237.51,76.42 c78.96-28.65,124.98-87.52,146.09-167.5c2.1-7.98,5.36-15.83,9.25-23.11c8.32-15.59,8.86-30.93,1.17-46.82 c-1.9-3.93-3.05-8.3-3.96-12.6c-1.73-8.22-2.18-16.79-4.68-24.74c-5.74-18.3-12.36-36.32-18.87-55.14 c2.1-0.57,4.22-1.1,6.33-1.67c19.83-5.37,34.83-15.86,39.58-37.25C605.94,181.55,586.42,146.91,558.01,134.95z M148.58,227.42 c-12.58-6.08-18.74-16.27-18.3-30.41c0.85-27.46,26.73-52.54,52.9-51.13c16.68,0.9,34.2,18.67,33.48,35.15 c-0.15,3.41-4.93,6.61-8.3,10.81c-8.37-13.76-19.22-19.68-33.79-14.65c-9.8,3.38-15.35,10.93-16.2,21.31 c-1.09,13.27,5.74,21.82,17.61,27.14c-2.19,7.2-6.66,8.53-12.51,6.75C158.46,230.87,153.26,229.68,148.58,227.42z M209.16,276.53 c-13.58,27.96-31.16,52.88-52.81,75.21c-3.53,3.64-5.07,11.27-4.23,16.53c1.01,6.39,4.81,12.72,8.63,18.22 c15.51,22.35,26.82,46.78,36.74,71.88c-9.46-16.97-18.7-34.08-28.48-50.86c-4.35-7.47-9.57-14.48-14.79-21.39 c-9.52-12.59-12.31-30.34,2.45-44.62c18.25-17.65,31.68-39.2,42.79-62.08c10.86-22.37,21.41-26.85,45.14-18.67 c21.35,7.36,42.15,16.64,63.91,22.41c48.39,12.82,95.87,8.19,141.94-11.48c11.02-4.71,22.36-8.67,33.55-12.98 c0.35,0.94,0.7,1.88,1.05,2.82c-26.76,9.83-52.95,21.85-80.41,29c-45.39,11.83-90.24,5.84-133.66-11.59 c-12.17-4.89-24.5-9.55-37.06-13.28C222,262.11,214.59,265.35,209.16,276.53z M492.8,482.03c-5.6-42.77-22.56-79.56-57.83-107.85 C464.68,385.16,495.31,442.97,492.8,482.03z M336.19,355.34c-51.14,6.25-79.38,38.93-97.29,85 C242.69,393.02,291.34,350.89,336.19,355.34z M221.68,515.95c9.91-4.31,12.13-12.75,14.49-21.68 c5.36-20.27,10.02-40.92,17.66-60.36c16.54-42.08,49.18-63.13,93.8-64.95c14.83-0.61,30.09,0.56,44.62,3.51 c29.93,6.07,51.25,24.31,65.27,51.28c11.91,22.89,17.56,47.74,22.76,72.7c1.76,8.45,4.88,15.55,13.42,19.13 C427.77,581.74,306.56,594.91,221.68,515.95z M562.03,385.65c-7.33,13.04-15.07,25.84-22.47,38.84 c-3.49,6.14-6.59,12.5-9.87,18.76c-0.57-0.17-1.13-0.34-1.7-0.52c2.68-5.85,5.07-11.87,8.11-17.53 c7.44-13.87,15.14-27.6,22.82-41.33c9.81-17.56,8.18-31.26-5.31-45.91c-3.81-4.13-7.12-8.72-9.63-13.96 c6.13,6.63,13.14,12.67,18.21,20.03C571.52,357.57,569.76,371.88,562.03,385.65z M553.54,305.12 c-9.46-15.15-19.15-30.18-27.91-45.74c-13.16-23.38-35.97-30.74-59.51-17.97c-22.7,12.32-45.44,24.33-71.42,28.31 c-44.59,6.82-87.56,2.97-127.81-19.18c-6.22-3.42-12.49-6.73-18.79-10c-21.7-11.25-44.57-4.25-56.83,17.02 c-8.39,14.57-17.12,28.94-25.89,43.29c-2.43,3.98-5.54,7.56-8.34,11.32c18.84-88.03,103.75-161.99,208.14-158.84 c99.95,3.01,180.07,77.3,197.8,164.12C559.12,312.46,555.97,309.02,553.54,305.12z M553.34,248.18 C553.23,248.29,553.26,248.23,553.34,248.18L553.34,248.18z M565.93,228.04c-5.25,2.25-11,3.34-16.56,4.81 c-5.53,1.46-8.99-0.82-10.83-6.64c14.03-6.7,20.39-16.04,19.17-27.49c-1.14-10.66-8.58-19.73-18.37-22.38 c-12.34-3.35-21.57,1-31.53,14.85c-10.53-6.44-10.57-6.56-6.74-17.68c9.63-27.93,36.55-36.57,60.33-19.01 c14.17,10.46,23,24.46,23.97,42.43C586.15,211.65,579.51,222.22,565.93,228.04z'/%3E%3Cpath class='st2' d='M528,442.73c2.68-5.85,5.07-11.87,8.11-17.53c7.44-13.87,15.14-27.6,22.82-41.33 c9.81-17.56,8.18-31.26-5.31-45.91c-3.81-4.13-7.12-8.72-9.63-13.96c6.13,6.63,13.14,12.67,18.21,20.03 c9.32,13.53,7.56,27.85-0.17,41.61c-7.33,13.04-15.07,25.84-22.47,38.84c-3.49,6.14-6.59,12.5-9.87,18.76 C529.13,443.07,528.56,442.9,528,442.73z'/%3E%3Cpath class='st2' d='M492.8,482.03c-5.6-42.77-22.56-79.56-57.83-107.85C464.68,385.16,495.31,442.97,492.8,482.03z'/%3E%3Cpath d='M373.42,466.25c14.43-4.84,23.41-14.56,26.18-29.68c3.48-19.03-8.24-30.64-26.29-24.31c-12.04,4.23-22.53,3.5-34.33-0.11 c-19.96-6.09-34.22,8.89-29.02,29.28c2.67,10.47,9.07,18.14,18.93,21.78C353.44,472.3,370.47,467.24,373.42,466.25z M326.13,431.61c-3.01-3.39-7.24-6.29-6.82-8.13c0.64-2.85,4.87-7.28,6.86-6.93c3.99,0.7,7.5,4.17,11.21,6.5 C334.07,425.56,330.76,428.08,326.13,431.61z'/%3E%3Cpath d='M477.4,214.16c-24.83,1.9-42.67,16.33-59.79,32.28c-9.88,9.2-20.7,17.07-34.81,18.41c-2.71,0.26-5.46,0.04-8.41-0.77 c15.82-5.16,26.53-16.73,37.57-27.85c11.42-11.5,23.74-21.92,40.34-24.39c8.31-1.24,16.95-0.22,25.45-0.22 C477.63,212.47,477.51,213.31,477.4,214.16z'/%3E%3Cpath d='M236.65,212.93c18.42-4.78,34.39-2.08,48.64,7.88c8.12,5.67,15.38,12.68,22.56,19.57c10.05,9.64,20.01,19.23,34.09,23.01 c-0.21,0.82-0.43,1.64-0.64,2.46c-6.68-1.28-14.05-1.19-19.87-4.16c-9-4.59-17.55-10.54-25.2-17.18 C271.39,222.96,269.42,221.57,236.65,212.93z'/%3E%3Cpath class='st2' d='M326.13,431.61c-3.01-3.39-7.24-6.29-6.82-8.13c0.64-2.85,4.87-7.28,6.86-6.93c3.99,0.7,7.5,4.17,11.21,6.5 C334.07,425.56,330.76,428.08,326.13,431.61z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st2' d='M481.12,311.26c-0.7,3.29-1.54,7.23-2.4,11.17c-1.93,8.84-3.84,17.69-5.84,26.52 c-0.3,1.34-0.83,2.72-1.63,3.82c-1.58,2.17-4.35,2.78-6.56,1.74c-2.19-1.03-3.52-3.6-2.98-6.15c1.55-7.36,3.18-14.71,4.78-22.06 c1.16-5.32,2.3-10.64,3.52-15.95c0.24-1.05,0.67-2.12,1.26-3.01c1.4-2.1,3.93-2.97,6.1-2.29 C479.69,305.78,481.14,307.92,481.12,311.26z'/%3E%3Cpath class='st2' d='M443.6,328.19c2.95,3.07,5.71,5.94,8.47,8.82c0.63,0.66,1.31,1.3,1.85,2.04c1.47,2.01,1.44,4.88,0,6.69 c-1.4,1.78-4.06,2.5-6.33,1.53c-1.04-0.44-2.03-1.15-2.85-1.94c-4.11-3.95-8.16-7.96-12.21-11.98c-3.32-3.29-3.34-6.49-0.07-9.74 c4.09-4.06,8.17-8.14,12.36-12.09c1.02-0.97,2.39-1.78,3.74-2.15c2.36-0.65,4.56,0.41,5.72,2.31c1.21,1.98,1.03,4.71-0.76,6.64 c-2.41,2.61-5.01,5.05-7.53,7.55C445.16,326.7,444.32,327.49,443.6,328.19z'/%3E%3Cpath class='st2' d='M497.91,328.75c-3.12-3.23-6.08-6.24-8.95-9.33c-0.9-0.97-1.79-2.09-2.21-3.31 c-0.68-1.95-0.33-3.91,1.25-5.42c1.62-1.55,3.6-1.87,5.63-1.14c1.11,0.4,2.18,1.14,3.04,1.96c4.16,3.99,8.25,8.04,12.34,12.11 c3.29,3.27,3.27,6.44-0.06,9.74c-4.05,4.01-8.12,8.01-12.2,11.99c-0.57,0.55-1.18,1.09-1.86,1.49c-2.46,1.45-5.54,1.03-7.22-0.94 c-1.68-1.97-1.71-5.15,0.24-7.25c2.62-2.83,5.44-5.48,8.18-8.2C496.7,329.84,497.34,329.27,497.91,328.75z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st2' d='M277.28,352.36c-3.36,0,3.65,0.01-0.39-0.01c-9.05-0.04-18.1-0.06-27.16-0.17 c-1.37-0.02-2.84-0.25-4.08-0.79c-2.45-1.09-3.63-3.67-3.07-6.05c0.55-2.36,2.78-4.19,5.39-4.2c7.52-0.02,15.05,0.04,22.57,0.08 c5.44,0.02-0.16,0.02,5.29,0.11c1.08,0.02,2.21,0.21,3.21,0.61c2.34,0.93,3.73,3.22,3.52,5.49 C282.34,349.82,280.56,351.68,277.28,352.36z'/%3E%3Cpath class='st2' d='M232.52,327.28c-3.85-4-7.52-7.71-11.07-11.54c-1.11-1.2-2.21-2.59-2.73-4.09 c-0.84-2.41-0.41-4.83,1.55-6.71c2-1.92,4.46-2.31,6.96-1.41c1.37,0.5,2.7,1.4,3.76,2.42c5.14,4.93,10.21,9.95,15.27,14.97 c4.07,4.04,4.04,7.97-0.08,12.05c-5.01,4.96-10.04,9.9-15.09,14.82c-0.7,0.68-1.46,1.34-2.3,1.84c-3.04,1.8-6.85,1.27-8.93-1.16 c-2.08-2.43-2.12-6.37,0.29-8.97c3.24-3.5,6.72-6.78,10.11-10.14C231.02,328.62,231.82,327.92,232.52,327.28z'/%3E%3C/g%3E%3Cpath d='M411.89,473.5c0,0-23.53,37.03-106.6,18.34c0,0,60.22,55.72,87.91,12.81L411.89,473.5z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  z-index: 100;
  animation: spin 1s infinite;
}
#loader-1:after {
  border: 7px solid #f2f2f2;
  margin: 1px;
  width: 99%;
  height: 99%;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.section-padding {
  padding: 60px 0;
}
hr {
  border-top: 1px dotted #ddd;
}
/* ==========================================================================
  8. Features Section Style
   ========================================================================== */
#features {
  background: #1b191f;
}
#features .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  z-index: 1;
}
#features .content-left span {
  float: right;
}
#features .content-left .text {
  text-align: right;
}
#features .content-right span {
  float: left;
}
#features .box-item {
  padding: 15px;
  line-height: 22px;
  margin-top: 30px;
  border-radius: 3px;
  border: 1px solid #787878;
  background-color: #1b191f;
  -webkit-transition: all .3s ease-in-out;
  -mox-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  top: 0;
}
#features .box-item .icon {
  text-align: center;
  margin: 12px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#features .box-item .icon i {
  color: #FFF;
  font-size: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#features .box-item .text h4 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#features .box-item .text p {
  font-size: 14px;
  line-height: 26px;
}
#features .box-item:hover {
  box-shadow: 0 0 10px 3px gray;
}
#features .box-item:hover h4 {
  color: #FFF;
}
#features .show-box {
  margin-top: 50px;
}
#features .show-box img {
  width: 100%;
}
/* Services Item */
.services-item {
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  margin: 15px 0;
  border: 1px solid #787878;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.services-item .icon {
  border: 1px solid #f1f1f1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 5px auto;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.services-item .icon i {
  font-size: 30px;
  color: #E4E4E4;
  line-height: 70px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.services-item .services-content h3 {
  margin-top: 10px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.services-item .services-content h3 a {
  font-size: 16px;
  color: #cfcaca;
}
.services-item .services-content h3 a:hover {
  color: #505050;
}
.services-item:hover {
  box-shadow: 0 0 10px 3px gray;
}
.services-item:hover .icon {
  background: #505050;
}
.services-item:hover .icon i {
  color: #fff;
}
#service {
  position: relative;
}
.about-area .about-wrapper {
  height: 100%;
  width: 100%;
  display: table;
}
.about-area .about-wrapper > div {
  vertical-align: middle;
  display: table-cell;
}
.about-area img {
  border-radius: 4px;
}
.about-area .content {
  margin-top: 15px;
}
.about-area .content p {
  margin-bottom: 30px;
}
#cta {
  padding: 30px 0;
}
.navbar-brand {
  position: relative;
  padding: 0px;
}
.top-nav-collapse {
  z-index: 999999;
  padding: 5px !important;
  top: 0px !important;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  background: #1a1a1c !important;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.top-nav-collapse .navbar-brand {
  top: 0px;
}
.top-nav-collapse .navbar-brand img {
  width: 70%;
}
.top-nav-collapse .navbar-nav .nav-link {
  color: #585b60 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #505050 !important;
  border-color: #505050 !important;
}
.top-nav-collapse .navbar-nav .nav-link:hover {
  color: #505050 !important;
}
.navbar-expand-md .navbar-toggler {
  background: #1a1a1c;
  border: 1px solid #505050;
  color: #505050;
  border-radius: 4px;
  cursor: pointer;
}
.navbar-brand img {
  width: 70%;
}
.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #505050 !important;
  border-color: #505050;
}
.indigo {
  background: transparent;
}
.menu-bg {
  background: transparent;
}
.navbar-expand-md .navbar-nav .nav-link i {
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-expand-md .navbar-nav .nav-item {
  padding-left: 25px;
}
.navbar-expand-md .navbar-nav .nav-link {
  color: #333;
  font-weight: 400;
  padding: 7px 0;
  cursor: pointer;
  position: relative;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-expand-md .navbar-nav .nav-link:before {
  background-color: #505050;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  margin: 0 auto;
  width: 0;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: width 1s;
  -ms-transition: width 1s;
  -webkit-transition: width 1s;
}
.navbar-expand-md .navbar-nav li a:hover, .navbar-expand-md .navbar-nav li .active > a, .navbar-expand-md .navbar-nav li a:focus {
  color: #0a0a0a;
  outline: none;
}
.navbar-expand-md .navbar-nav .active > .nav-link, .navbar-expand-md .navbar-nav .nav-link.active, .navbar-expand-md .navbar-nav .nav-link.open, .navbar-expand-md .navbar-nav .open > .nav-link {
  color: #505050 !important;
  width: 100%;
}
.navbar-expand-md .navbar-nav .nav-link:hover, .navbar-expand-md .navbar-nav .nav-link:hover::before, .navbar-expand-md .navbar-nav .nav-link:focus {
  color: #0a0a0a;
  width: 100%;
  transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s;
}
.navbar {
  padding: 10px 0;
}
.navbar li.active a.nav-link {
  color: transparent;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 210px;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}
.dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  border: none;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}
.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  text-decoration: none;
  display: inline-block;
  float: left;
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dropdown .dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dropdown .dropdown-item:focus, .dropdown .dropdown-item:hover, .dropdown .dropdown-item.active {
  color: #505050;
  background: #f7f7f7;
}
.dropdown-item.active, .dropdown-item:active {
  background: transparent;
}
.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}
/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
  background-image: url(../img/back.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  position: relative;
  overflow: hidden;
  padding: 180px 0 80px;
}
#hero-area .contents .head-title {
  color: #FFF;
  font-size: 42px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 10px;
}
#hero-area .contents .header-button {
  margin-top: 20px;
  color: #222222;
}
#hero-area .contents .header-button .btn {
  margin-right: 10px;
}
.sloder-img {
  background: #34363a;
}
/* Team Item */
.team-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
.team-item {
  text-align: center;
  padding-bottom: 10px;
  margin: 15px 0;
  border-radius: 0px;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  background: #1b191f;
}
.team-item .team-img {
  float: left;
  width: 150px;
  margin-right: 0px;
}
.team-item .contetn {
  padding: 170px 0px 10px 10px;
  height: auto;
  text-align: center;
}
.team-item .social-icons {
  padding-top: 11px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.team-item .social-icons li {
  display: inline-block;
  margin-right: 10px;
}
.team-item .social-icons li a {
  letter-spacing: 0px;
  outline: 0 !important;
}
.team-item .social-icons li a i {
  font-size: 18px;
  display: block;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.team-item .social-icons li .lni-facebook-filled {
  color: #3b5998;
}
.team-item .social-icons li .lni-twitter-filled {
  color: #00aced;
}
.team-item .social-icons li .lni-instagram-filled {
  color: #fb3958;
}
.team-item .info-text {
  margin-top: 15px;
  margin-bottom: 10px;
}
.team-item .info-text h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 5px;
}
.team-item .info-text h3 a {
  color: #949699;
}
.team-item .info-text h3 a:hover {
  color: #505050;
}
.team-item .info-text p {
  margin: 0;
  color: #888;
}
.team-item:hover .team-overlay {
  opacity: 1;
}
/* ==========================================================================
   Pricing Table Style
   ========================================================================== */
#pricing {
  text-align: center;
}
#pricing .title {
  padding-top: 20px;
}
#pricing .title h3 {
  text-transform: uppercase;
  color: #FFF;
  font-size: 18px;
}
#pricing .title .month-plan {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
#pricing .table {
  margin-top: 15px;
  padding: 30px;
  border-radius: 4px;
  border: none !important;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
#pricing .table .icon-box {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: #EBEDEF;
  margin-bottom: 20px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.icon-box-spon {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: #EBEDEF;
  margin-bottom: 20px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
#pricing .table .icon-box i {
  color: #505050;
  line-height: 80px;
  font-size: 30px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
#pricing .table .pricing-header {
  position: relative;
  text-align: center;
}
#pricing .table .pricing-header .price-value {
  font-size: 24px;
  color: #505050;
  position: relative;
  text-align: center;
  font-weight: 700;
}
#pricing .table .pricing-header .price-value sup {
  font-size: 16px;
  font-weight: 500;
  top: -18px;
}
#pricing .table .pricing-header .price-value span {
  font-size: 15px;
  color: #abacae;
  font-weight: 400;
}
#pricing .table .description {
  text-align: center;
  padding: 0px 50px;
  margin-bottom: 20px;
}
#pricing .table .description li {
  font-size: 14px;
  font-weight: 400;
  color: #abacae;
  padding: 4px 0;
}
#pricing .table .description li:last-child {
  border-bottom: none;
}
#pricing .table:hover {
  background: #1b191f;
}
#pricing .table:hover .icon-box {
  background: #505050;
}
.icon-box-spon:hover {
  background: #505050;
}
#pricing .table:hover .icon-box i {
  color: #fff;
}
#pricing #active-tb {
  background: #ffffff;
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
#pricing #active-tb .icon-box {
  background: #505050;
}
#pricing #active-tb .icon-box i {
  color: #fff;
}
#pricing .active {
  z-index: 99999;
}
.testimonial {
  position: relative;
  background-color: #2e2e2e;
}
.testimonial-item {
  background: #fff;
  border-radius: 4px;
  text-align: center;
  padding: 30px 20px;
}
.testimonial-item .img-thumb {
  position: relative;
  margin: 15px 15px 15px 0;
}
.testimonial-item .img-thumb img {
  border-radius: 50%;
  display: inline-block;
  width: inherit;
  padding: 7px;
}
.testimonial-item .content {
  overflow: hidden;
}
.testimonial-item .content .description {
  width: 100%;
  color: #333;
}
.testimonial-item .content .star-icon i {
  color: #505050;
}
.testimonial-item .info h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
}
.testimonial-item .info h2 a {
  color: #333;
}
.testimonial-item .info h3 {
  margin: 0;
  clear: both;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 10px;
}
.testimonial-item .info h3 a {
  color: #333;
}
.testimonial-item .info .indicator {
  font-size: 26px;
  font-weight: 700;
  color: #505050;
}
.testimonial-item .icon-social {
  margin-top: 30px;
}
.testimonial-item .icon-social a {
  color: #666;
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-size: 15px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.testimonial-item .icon-social a:hover {
  color: #fff;
}
.testimonial-item .icon-social .facebook:hover {
  background: #3b5999;
}
.testimonial-item .icon-social .twitter:hover {
  background: #4A9CEC;
}
.testimonial-item .icon-social .instagram:hover {
  background: #D6274D;
}
.testimonial-item .icon-social .linkedin:hover {
  background: #1260A2;
}
.testimonial-item .icon-social .google:hover {
  background: #CE332A;
}
.owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
}
.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-carousel button.owl-dot {
  display: inline-block;
  zoom: 1;
  text-align: center;
}
.owl-carousel button.owl-dot span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  filter: alpha(opacity=50);
  opacity: 1;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.owl-carousel button.owl-dot.active span, .owl-carousel button.owl-dot.clickable, .owl-carousel button.owl-dot:hover span {
  background: #505050;
}
.slick-slider {
  padding: 80px 0;
}
.slider-center img {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  padding: 63px 63px;
  position: relative;
  text-align: center;
}
.slider-center .slick-center img {
  -moz-transform: scale(1.9);
  -ms-transform: scale(1.9);
  -o-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  opacity: 1;
  transform: scale(1.9);
}
.form-control {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
  border: 1px solid #f1f1f1;
}
.form-control:focus {
  border-color: #505050;
  box-shadow: none;
  outline: none;
}
textarea {
  border-radius: 4px !important;
}
.form-control:focus {
  box-shadow: none;
  outline: none;
}
.btn.disabled, .btn:disabled {
  opacity: 1;
}
.contact-form-area h2 {
  font-size: 18px;
  text-transform: uppercase;
}
.contact-right-area {
  margin-left: 50px;
}
.contact-right-area .contact-title {
  margin-bottom: 20px;
}
.contact-right-area .contact-title h1 {
  font-size: 22px;
}
.contact-right {
  padding: 4px;
}
.contact-right .single-contact {
  margin: 30px 0px;
  padding: 3px 55px;
  position: relative;
  color: #abacae;
}
.contact-right .single-contact p {
  margin-bottom: 0px;
}
.contact-right .single-contact p a {
  color: #abacae;
}
.contact-right .contact-icon {
  background: #69696b;
  color: #fff;
  border-radius: 4px;
  font-size: 20px;
  height: 40px;
  left: 0;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
}
.h3 {
  float: right;
  font-size: 16px;
}
/*cta
*/
#cta {}
/* Footer Area Start */
.footer-area {
  position: relative;
  padding: 40px 0px 0px;
  background: #1b191f;
}
.footer-area .footer-titel {
  font-size: 18px;
  color: #d7d7d7;
  font-weight: 500;
  padding-bottom: 20px;
  letter-spacing: 0.5px;
}
.footer-area .footer-titel span {
  color: #cccccc;
  font-weight: 400;
}
.footer-area .textwidget p {
  color: #cccccc;
}
.footer-area .footer-link li {
  margin-bottom: 10px;
}
.footer-area .footer-link li a {
  color: #cccccc;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.footer-area .footer-link li a:hover {
  color: #cccccc;
}
.footer-area .address li {
  margin-bottom: 20px;
}
.footer-area .address li a {
  color: #cccccc;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
.footer-area .address li a i {
  font-size: 22px;
  width: 32px;
  vertical-align: middle;
  height: 36px;
  text-align: center;
  display: inline-block;
  float: left;
  margin-right: 5px;
  line-height: 32px;
}
.footer-area #subscribe-form {
  margin-top: 10px;
}
.footer-area #subscribe-form .form-group {
  position: relative;
}
.footer-area #subscribe-form .form-group .btn-common {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 15px;
  height: 52px;
  border-radius: 0;
  background: transparent;
  color: #1c1c1c;
}
#copyright .copyright-content {
  border-top: 1px solid #cccccc;
  padding: 15px 0;
  margin: 45px 0 0px;
}
#copyright p {
  line-height: 42px;
  color: #cccccc;
  text-align: center;
  margin: 0;
}
#copyright p a {
  color: #cccccc;
}
.social-icon a {
  color: #272727;
  background: #fff;
  width: 32px;
  height: 32px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  margin: 15px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.social-icon a:hover {
  color: #fff !important;
}
.social-icon .facebook:hover {
  background: #3b5999;
}
.social-icon .twitter:hover {
  background: #4A9CEC;
}
.social-icon .instagram:hover {
  background: #D6274D;
}
.social-icon .linkedin:hover {
  background: #1260A2;
}
.social-icon .google:hover {
  background: #CE332A;
}
#more {
  display: none;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #1b191f; /* Fallback color */
}
/* Modal Content */
.modal-content {
  background-color: #1c1c1c;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* The Close Button */
.close {
  color: #C0C0C0;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-shadow: none;
}
.close:hover, .close:focus {
  color: #E0E0E0;
  text-decoration: none;
  cursor: pointer;
  text-shadow: none;
}
button > * {
  pointer-events: none;
}
.modal-button:hover {
  color: #505050;
  text-transform: uppercase;
}
.spon-img:hover {
  filter: invert(100%);
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.domains {
  width: 100%;
  border: none;
  background: transparent;
}
.btn-play {
  color: #FFFFFF;
  border: none;
  background: transparent;
  cursor: pointer;
}
.btn-play:hover {
  color: #000000;
}